stages:
  - deploy

deploy_ansible:
  stage: deploy
  tags:
    - ansible
    - vm
  script:
    - echo "Running all Ansible playbooks..."
    - ansible-playbook -i hosts.ini upgrade.yml
    - ansible-playbook -i hosts.ini alertmanager.yml
    - ansible-playbook -i hosts.ini prometheus-rule.yaml
    - ./monitor_pods.sh
