name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set execute permission
      run: chmod +x ./deploy-monitoring.sh

    - name: Deploy monitoring
      run: ./deploy-monitoring.sh
